<h1>Signup</h1>
<form method="post" action="/signup" class="signup"> 
  <input type="text" name="join[username]" placeholder="username">
  <input type="text" name="join[email]" placeholder="email">
  <input type="password" name="join[password]" placeholder="password">
  <input type="password" name="password_again" placeholder="password again">
  <input type="submit" value="Submit">
</form>
