<script src="/js/game.js"></script>
<script>
  $(document).ready(function($) {
    login($('.player').attr('data-username'));
    join_game(window.location.href.match(/\/game\/\w*/)[0].substr(6));

    $('ul').on('click', 'li', function() {
      if ($(this).text() == '_') {
        var piece = 'X';
        $(this).text(piece);
        var box = $(this).attr('class');
        move(box, piece);
        var $board = $('.board li').toArray();
        for (var a = 0; a < $board.length; a++) {
          $board[a] = $('.cell-' + a).text();
        }
        if ($.inArray('_', $board) == -1) {
          $('.board').append('<a href="/games">Game over!</a>');
        }
      }
    });
  });

  var checkEnd = function() {

  }

</script>


<h1>Game Board</h1>
<div class="player" data-username="<%= @user.username %>"></div>

<%= erb :_game_board %>
