<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script type="text/javascript" src="http://localhost:8888/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/game.js"></script>

  <title>TicTacToe</title>
</head>
<body>
  <div class="container">
   <%= yield %>
  </div>
</body>
</html>
